[submodule "thirdparty/DSPFilters"]
	path = thirdparty/DSPFilters
	url = https://github.com/vinniefalco/DSPFilters.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "DPF"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
