[submodule "thirdparty/DSPFilters"]
	path = thirdparty/DSPFilters
	url = https://github.com/vinniefalco/DSPFilters.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "thirdparty/rtaudio"]
	path = thirdparty/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "thirdparty/boost/predef"]
	path = thirdparty/boost/predef
	url = https://github.com/boostorg/predef
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "thirdparty/gzip-hpp"]
	path = thirdparty/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "thirdparty/DPF"]
	path = thirdparty/DPF
	url = https://github.com/jpcima/DPF.git
