[Desktop Entry]
Version=1.0
Name=Ensemble chorus
Comment=Digital model of electronic string ensemble chorus
Comment[fr]=Modélisation numérique d'un chorus d'ensemble à cordes électronique
Icon=ensemble_chorus
Exec=ensemble_chorus_fl
Categories=AudioVideo;Audio
Type=Application
